<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		
		<!-- Properties from BD connection -->
		
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/wms_db_comercial</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="current_session_context_class">thread</property>
		
		<!-- Pool of connections -->
		
		<property name="c3po.min_size">5</property>
		<property name="c3po.max_size">20</property>
		<property name="c3po.timeout">300</property>
		<property name="c3po.max_statements">50</property>
		<property name="c3po.idle_test_period">3000</property>
		
		<!-- Debug configurations -->
		
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="generate_statistics">true</property>
		<property name="use_sql_comments">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Classes Mapping -->
		
		<mapping class="br.com.wms.sgtc.model.WmsCustomer"/>
				
	</session-factory>
</hibernate-configuration>